.container {
    background-color: var(--section-background-color);
    color: inherit;
    border: var(--border-color) solid 1px;
    width: 90%;
    height: auto;
    margin: 20px auto;
    padding: 5px 10px;
    border-width: 1px;
    border-radius: 5px;
    overflow: hidden;
}

.line {
    font-size: 1.4rem;
    line-height: 2.3rem;
    margin: 0 0;
    padding: 0 0;
}
