html {
    font-size: 62.5%;
}

body {
    padding: 0;
    margin: 0;
    font-size: 1.6em;
    max-width: 100vw;
}

header {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--header-background-color);
    color: var(--header-font-color);
    border-bottom: var(--border-color) solid 1px;
    font-family: -apple-system, "BlinkMacSystemFont",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Avenir", "Helvetica Neue",
        "Helvetica", "Arial", "ヒラギノ角ゴシック", YuGothic, "Yu Gothic",
        "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif,
        "Segoe UI Emoji";
}

main {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    height: auto;
    min-height: calc(100vh - 50px);
    color: var(--font-color);
    background-color: var(--main-background-color);
    font-family: -apple-system, "BlinkMacSystemFont",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Avenir", "Helvetica Neue",
        "Helvetica", "Arial", "ヒラギノ角ゴシック", YuGothic, "Yu Gothic",
        "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif,
        "Segoe UI Emoji";
}

section.main-content {
    position: relative;
    width: 50vw;
    height: auto;
    padding-bottom: 100px;
    background-color: var(--section-background-color);
    border-left: var(--border-color) solid 1px;
    border-right: var(--border-color) solid 1px;
}

aside.aside-left {
    width: 20vw;
    height: auto;
}

aside.aside-right {
    width: 20vw;
    height: auto;
}

/* ==================== */
/* 以下は記事用のスタイル */
/* ==================== */

a {
    color: #1e94fe;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 2.5rem;
}

section.main-content > section > p + p {
    margin-top: 30px;
}

section.main-content > section > ul {
    margin-top: 10px;
    margin-bottom: 30px;
}

pre > code {
    font-family: Cica, "SFMono-Regular", "Ricty Diminished Discord",
        "Ricty Diminished", Consolas, "Liberation Mono", Menlo, monospace,
        "Segoe UI Emoji";
}

p > code {
    font-family: Cica, "SFMono-Regular", "Ricty Diminished Discord",
        "Ricty Diminished", Consolas, "Liberation Mono", Menlo, monospace,
        "Segoe UI Emoji";
    background-color: var(--code-span-color);
    padding: 1px 4px;
    margin: 0px 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* reset */
    font-size: 100%;
    font-weight: normal;
}

h1 {
    padding: 0.25em 0.3em; /* 上下 左右 */
    font-weight: bold;
    font-size: 3rem;
    border-left: solid 5px var(--heading-border-left);
    border-bottom: solid 1px var(--heading-border-bottom);
    margin-top: 75px;
    margin-bottom: 30px;
}

h2 {
    font-weight: bold;
    font-size: 2.7rem;
    border-bottom: solid 1px var(--heading-border-bottom);
    margin-top: 75px;
    margin-bottom: 20px;
}

h3 {
    font-weight: bold;
    font-size: 2.4rem;
}

h4,
h5,
h6 {
    font-weight: bold;
    font-size: 2rem;
}

/* headingの背景の位置を指定 */
div.heading-background {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
}

/* headingのanchor linkはホバー時に下線を付与しない */
div.heading-background > a:hover {
    text-decoration: none;
}

/* アンカーリンクの位置を指定 */
h1 > div.heading-background > a {
    position: relative;
    left: 10px;
    top: 1px;
    text-decoration: none;
}

h2 > div.heading-background > a {
    position: relative;
    left: 12px;
    text-decoration: none;
}

/* アンカーリンクの位置を指定 */
h3 > div.heading-background > a {
    position: relative;
    left: 13px;
    text-decoration: none;
}

/* アンカーリンクの位置を指定 */
h4 > div.heading-background > a,
h5 > div.heading-background > a,
h6 > div.heading-background > a {
    position: relative;
    left: 16px;
    text-decoration: none;
}

/* 非ホバー時のアンカーリンクは透明にする */
a > span.icon-link {
    opacity: 0;
}

/* headingにホバーしたらアンカーリンクを表示する */
h1:hover > div.heading-background > a > span.icon-link,
h2:hover > div.heading-background > a > span.icon-link,
h3:hover > div.heading-background > a > span.icon-link,
h4:hover > div.heading-background > a > span.icon-link,
h5:hover > div.heading-background > a > span.icon-link,
h6:hover > div.heading-background > a > span.icon-link {
    opacity: 0.7;
}

/* headingの背景にホバーしたらアンカーリンクを表示する */
div.heading-background:hover > a > span.icon-link {
    opacity: 0.7;
}

img {
    max-width: 100%;
}

/* tablet */
@media screen and (max-width: 1536px) {
    header {
        height: 50px;
    }
    aside.aside-left {
        display: none;
    }
    aside.aside-right {
        display: none;
    }
    /* headingのアンカーリンクを非表示 */
    a > span.icon-link {
        display: none;
    }
    section.main-content {
        /* width: 100vw; */
        width: 100%;
        padding-bottom: 50px;
    }
    h1 {
        border-left: 0px;
    }
}

/* mobile */
@media screen and (max-width: 900px) {
    /* ulの左側の余白を減らす */
    section.main-content > section > ul {
        padding-left: 20px;
    }
}
