.tagName {
    font-size: 3rem;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.articles {
    display: flex;
    flex-direction: column;
}

.loading {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
